<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bb543201-6e91-4d36-9f96-5c444b9c1c41" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bb543201-6e91-4d36-9f96-5c444b9c1c41fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
